# Файл requirements.txt для фронтенд-части (Streamlit)

streamlit>=1.0.0  # Фреймворк для создания веб-интерфейсов на Python
requests>=2.26.0  # Библиотека для HTTP-запросов, для отправки текста на бэкенд