# Добавляем исключения, для Git
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
.vscode/
.idea/
*.log
*.sqlite
*.db
*.cache
*.coverage
*.mo
*.pot
*.spec